*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   /* font-size:10px;*/
    font-family: ui-sans-serif,system-ui,
    -apple-system,BlinkMacSystemFont,"Segoe UI",
    Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    /*line-height: 1.5;*/

    display: block;

    -webkit-text-size-adjust: 100%;

    tab-size: 4;

    --antd-wave-shadow-color: #00e676;
    --scroll-bar: 0;
    overflow:auto;
}
body, html {
    width: 100%;
    height: 100%;

}
body {
    /*font-family: inherit;
    line-height: inherit;*/

    /*overflow-x: hidden!important;*/
   /* font-size: 1.6rem;*/
}
img{
    max-width: 100%;
    height: auto;

    display: block;
    vertical-align: middle;

    /*border-style: solid;*/

}